*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.App{
  position: absolute;
  height: 100vh;
  width: 100vw;

}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.wrapper{
  margin-top:2.5rem;
  padding:1rem 1rem 2rem;
}

.iframe{
  width: 100%;
  max-width: 3rem;
  max-height: 3rem;
  pointer-events: none;
}

.error-text span{
  font-size: 1rem;
  font-weight: 670;
}

.error-text p{
  font-size: 0.8rem;
  font-weight: 500;
}

@media (min-width:768px) {
  .wrapper{
    margin:8rem auto 0;
    max-width: 70%;
  }

  .iframe{
    width: 100%;
    max-width: 6rem;
    max-height: 6rem;
  }

  .error-text span{
    font-size: 1.5rem;
    font-weight: 800;
  }
  
  .error-text p{
    font-size: 0.9rem;
    font-weight: 600;
  }
}

#search{
  height:2.5rem;
  background-color: #fff;
}

#search input{
  font-weight: 500;
}
#search input:focus{
  box-shadow: 0;
  outline:0;
}

.data{
  font-size:calc(10px + 0.390625vw) !important;
  font-weight: 500;
}

